.hovereffecttitle {
                width: 134px;
                height:90px;
                float:left;
                overflow:hidden;
                position:relative;
                text-align:center;
                cursor:default;
                }



.hovereffecttitle img{
                width: 134px;
                height:90px;
                float:left;
                overflow:hidden;
                position:relative;
                text-align:center;
                cursor:default;
                }
/* .hovereffecttitle img {
                display:block;
                position:relative;
                -webkit-transition:all .4s linear;
                transition:all .4s linear;
                }
.hovereffecttitle:hover img {
                -ms-transform:scale(1.4);
                -webkit-transform:scale(1.4);
                transform:scale(1.4);
                } */
