<div  style="padding: 20px 1%" class=" text-muted">

            <ul class="list-group" >
              <li class="list-group-item"><h3>管理中心</h3></li>
            </ul>
</div>


<div class="col-md-2"  >
    <ul class="list-group" style="text-align: center">
      <li class="list-group-item" id="item_11"><a href="{{url_for('admin_user_info')}}">人员信息</a></li>
      <li class="list-group-item" id="item_12"><a href="{{url_for('admin_user_article')}}">文章管理</a></li>
      <li class="list-group-item" id="item_13"><a href="{{ url_for('user_album_mine') }}">相册管理</a></li>
      <li class="list-group-item" id="item_14"><a href="{{ url_for('admin_about_desc') }}">个人介绍</a></li>
      <li class="list-group-item" id="item_15"><a href="{{ url_for('admin_random_img') }}">随机图片管理</a></li>
    </ul>
</div>
