{% extends 'base.html' %}

{% block css_style %}
<link href="{{ url_for('static',
filename='custom/custom.css') }}" rel="stylesheet">
{% endblock %}


{% block content %}

<h1></h1>
    <div >
        <div class="col-md-12" >
            <ul class="list-group" style="text-align: center">

              <li class="list-group-item" id="item_1"><h2>{{article.article_title|safe}}</h2><small>
                  时间:{{ article.addtime }}
                  &nbsp;/&nbsp;作者:{{article.article_writer}}&nbsp;/&nbsp;{{ article.click_num }}人阅读&nbsp;/&nbsp;{{article.love_num}}人收藏</small>
                  <div id="btn-favor" class="btn btn-default btn-xs">
                      <span class="glyphicon glyphicon-heart"></span>
                      收藏
                  </div>
              </li>


            </ul>
        </div>

        <div class="col-md-12" >
            <ul class="list-group" >

              <li class="list-group-item" id="item_1">{{article.article_text|safe}}</li>

            </ul>
        </div>

         <a href="#" class="text-lg">回到顶部</a>
    </div>

{% endblock %}




{% block js_code %}
<script >
    $(document).ready(function () {
        $('#btn-favor').click(
            function () {
                var uid = {{ session.get('user_id', -1) }};
                var aid = {{ article.id }};

                if (uid == -1)
                    alert('请登录再收藏');
                else
                    $.ajax({
                    url: '{{ url_for('article_favor') }}',
                    type: 'GET',
                    data: 'aid=' + aid +'&uid=' + uid,
                    dataType: 'json',
                    success: function (res) {
                        if (res.ok == 1)
                            $('#btn-favor').text('收藏成功');
                        else
                            $('#btn-favor').text('^。^已经收藏过了!');
                    }
                })
            }
        )
    })
</script>
{% endblock %}
