{% extends 'base.html' %}

{% block content %}

<h1></h1>
<img src="http://wx2.sinaimg.cn/large/0062Ep7ely1fz1me4dbuqj30xc0irwtb.jpg"
width="50%" class="img-responsive center-block img-thumbnail">

<!-- MetingJS start -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/aplayer/dist/APlayer.min.css">
<div class="aplayer" data-id="2611720636" data-server="netease" data-type="playlist"
data-fixed="true" data-autoplay="true" data-volume="1.0"></div>
<script src="https://cdn.jsdelivr.net/npm/aplayer/dist/APlayer.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/meting/dist/Meting.min.js"></script>
<!-- MetingJS end -->
<div class="row">
    <div class="col-md-2 visible-md-block visible-lg-block"><img src="http://wx4.sinaimg.cn/large/0062Ep7ely1fz60rgrb64g306o06ota0.gif" alt="" width="200"></div>
    <div class="col-md-8"></div>
    <div class="col-md-2 visible-md-block visible-lg-block"><img src="http://wx4.sinaimg.cn/large/0062Ep7ely1fz60rgrb64g306o06ota0.gif" alt="" width="200"></div>
</div>

{% endblock %}

{% block js_code %}

{% endblock %}
