{% extends 'base.html' %}

{% block content %}





<div >
    {% include 'user_menu.html' %}
    <div class="col-md-10" >
    <div class="jumbotron " style="padding-top: 1px" >

      <h3>我收藏的相册</h3>

      <hr >


      <div class="container" >
          {% for love_album in love_albumlist %}
           <div class="col-md-4">
              <div class="media-card">
                  <div class="panel panel-body" style="display: block:padding: 3px;">
                      <div class="card-title">
                          <span style="font-size: large;font-weight: bold;color: #095c90" >
                                  {{ love_album.title }}

                          </span>


                      </div>

                  <div class="card-body" >
                      <div class="card-image">

                          <a href="{{ url_for('album_browse', id=love_album.id) }}" >
                              <!-- style -->
                              <div class="hovereffect">
                              <img class="img-responsive " src="{{ love_album.photo_url }}" width="200", height="150" >

                              </div>
                          </a>

                      </div>
                      <small>
                          <a href="{{ url_for('user_album_favor_del', id=love_album.id) }}"  >
                          取消收藏
                          </a>
                      </small>
                  </div>

                  </div>
              </div>
               </div>
                {% endfor %}

      </div>


      </div>

    </div>
</div>




{% endblock %}

{% block js_code %}
<script type="text/javascript">
    $(document).ready(
      function(){
      }
    );
    $('#item_5').addClass('list-group-item-warning')

</script>
{% endblock %}
